<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salut Simplu cu Upload!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="main-title">Salut, Lume!</h1>
        <p class="subtitle">O aplicație simplă și curată.</p>
        <p class="location">Trimis din: Iași, România.</p>

        <hr class="separator">

    </div>
</body>
</html>